@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #1F2855 !important;
    color: whitesmoke !important;
}

.jr-dialog-headline {
    background-color: #283265 !important;
    color: whitesmoke !important;
}

a.jr-btn-success {
    background: rgb(73,56,179) !important;
    background: linear-gradient(90deg, rgba(73,56,179,0.8211659663865546) 0%, rgba(177,100,207,1) 100%, rgba(59,41,182,0.8211659663865546) 100%) !important;
    color: whitesmoke !important;
    font-weight: bold !important;
    padding: .3rem 1.2rem !important;
}

.jr-btn-success:hover {
/*     background-color: whitesmoke !important; */
}

.jr-btn-success::after {
    content: 'v';
}

/* sectiuni */
.minimizable {
    background-color: #283265 !important;
    box-shadow: 0 2px 8px rgb(19 28 68) !important;
    width: 50% !important;
}

/* titlul sectiunii */
.sectionName {
    font-family: inherit !important;
    font-size: 1.1rem !important;
    border: none !important;
    border-bottom: 1px solid #cdcdcd !important;
    border-radius: 0 !important;
    margin-bottom: 1rem !important;
    color: whitesmoke !important;
}

/* label-urile textboxurilor */
.jr-dialog-form-label {
    font-size: .8rem !important;
}

/* textboxurile */
.textbox {
    background-color: #212A5A !important;
    color: whitesmoke !important;
    font-family: inherit !important;
    padding: .5rem !important;
    font-size: .8rem !important;
}

/* checkboxuri */
.jr-dialog-form-element label::before {
    background-color: #eaeaea17 !important;
    outline: none !important;
}